<!DOCTYPE html>
<html>
<head>
  <title>All Sales Vinyl</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
  <h1>All Sales Vinyl</h1>

  <h3>Available Records</h3>

  <% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no records to display.</p>
  <% end %>

  <a href="/albums/new">Add a new album</a>
  <form action="/albums">
    <div class="form-group">
      <label for="check">Search</label>
      <input id="check" name="check" class="form-control" type="text">
    </div>
    <button type="submit">Go!</button>
  </form>

</body>
</html>
