<!DOCTYPE html>
<html>
  <head>

    <title>Single Album</title>
  </head>
  <body>
    <h4>Album Name: <%= @album.name %></h4>
    <p><a href="/albums/<%= @album.id %>/edit">Edit Album</a></p>
    <a href="/albums">Return to Album List</a>
  </body>
</html>
