  <h1>All Sales Vinyl</h1>

  <h3>Available Records</h3>

  <% if @albums.any? %>
  <ul>
    <% @albums.sort_by(&:name).each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.name %>, <%= album.status %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no records to display.</p>
  <% end %>

  <a href="/albums/new">Add a New Album</a>
  <form action="/albums/search/" method="get">
    <div class="form-group">
      <label for="searched">Search</label>
      <input id="searched" name="searched" class="form-control" type="text">
    </div>
    <button type="submit">Go!</button>
  </form>
