<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <h2>Search Results</h2>
    <% if @album != nil %>
    <ul>
      <% @album.sort.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are currently no records to display.</p>
    <% end %>

    <a href="/albums">Return to Album List</a>
  </body>
</html>
