<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Input</title>
  </head>
  <body>
    <h1>Please enter in your numbers to see if its a triangle</h1>

    <form action="/" method="post">

      <label for="side1">Side 1</label>
      <input type="number" name="side1">

      <label for="side2">Side 2</label>
      <input type="number" name="side2">

      <label for="side3">Side 3</label>
      <input type="number" name="side3">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
