<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Triangle Output</title>
  </head>
  <body>
    <h1>You have chosen a <%= @triangle.type %></h1>
        <a href="/">Go Back</a>
  </body>
</html>
